<ul class="menu menu--mobile">
    <li class="menu__item"><a href="#" class="menu__link rotate">Контакты</a></li>
    <li class="menu__item"><a href="#" class="menu__link">Площадка</a></li>
    <li class="menu__item"><a href="#" class="menu__link">Курсы</a></li>
</ul>

{#<div class="menu">#}
    {#<a href="#" class="menu__link">меню1</a><a href="#" class="menu__link">меню2</a><a href="#" class="menu__link">меню3</a>#}
    {#<a href="#" class="menu__link">меню4</a>#}
    {#<a href="#" class="menu__link">меню5</a>#}
    {#<a href="#" class="menu__link">меню6</a>#}
{#</div>#}