{% set course = { 
    course1: { 
        title: 'Illustrator+ Photoshop.Lab', 
        auditory: '&#x2b1f;',
        subtitle: 'Вход в профессию',
        body: '<p>Вы узнаете, как анализировать пользовательский путь, создавать отзывчивые интерфейсы, упорядочивать информацию и адаптировать ее под разные платформы. Поэтапно разберём рабочий процесс: вайрфрейминг, работу с референсами, принцип mobile first, анимацию элементов интер- фейса.</p>
                <p>За время курса вы научитесь создавать адаптивные сайты, используя Sketch; оживлять visual-макеты, применяя Principle; узнаете основные типы анимации. И создадите свой финальный проект — адаптивный и интерактивный. По окончанию кур- са вы соберете свой собственный сайт на плат- форме Readymag.</p>',
        programm: '',
        weeks: '4 недели',
        dates: '12.05—13.06'
    },
    course2: { 
        title: 'Illustrator+ Photoshop.Lab', 
        auditory: '&#x25cf;',
        subtitle: 'Вход в профессию',
        body: '<p>Вы узнаете, как анализировать пользовательский путь, создавать отзывчивые интерфейсы, упорядочивать информацию и адаптировать ее под разные платформы. Поэтапно разберём рабочий процесс: вайрфрейминг, работу с референсами, принцип mobile first, анимацию элементов интер- фейса.</p>
                <p>За время курса вы научитесь создавать адаптивные сайты, используя Sketch; оживлять visual-макеты, применяя Principle; узнаете основные типы анимации. И создадите свой финальный проект — адаптивный и интерактивный. По окончанию кур- са вы соберете свой собственный сайт на плат- форме Readymag.</p>',
        programm: '',
        weeks: '4 недели',
        dates: '12.05—13.06'
    },
    course3: { 
        title: 'Illustrator+ Photoshop.Lab', 
        auditory: '&#x25cf;',
        subtitle: 'Вход в профессию',
        body: '<p>Вы узнаете, как анализировать пользовательский путь, создавать отзывчивые интерфейсы, упорядочивать информацию и адаптировать ее под разные платформы. Поэтапно разберём рабочий процесс: вайрфрейминг, работу с референсами, принцип mobile first, анимацию элементов интер- фейса.</p>
                <p>За время курса вы научитесь создавать адаптивные сайты, используя Sketch; оживлять visual-макеты, применяя Principle; узнаете основные типы анимации. И создадите свой финальный проект — адаптивный и интерактивный. По окончанию кур- са вы соберете свой собственный сайт на плат- форме Readymag.</p>',
        programm: '',
        weeks: '4 недели',
        dates: '12.05—13.06'
    } 

} 
%}