<div class="top">
    <div class="top__logo">
        <a href="/"><img src="images/logo.png" alt="" class="top__img"></a>
    </div>
    <nav class="top__menu">
        {% include "topMenu.twig" %}
    </nav>
    <div class="top__toggleMenu">
        <div class="top__icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>