<div class="why">
    <img src="images/1.jpg" alt="">
    <div class="why__title">Идеология</div>
    <div class="why__body">Мы считаем, что главное — владение не программами, а профессиональными навыками, такими как подача архитектурного проекта, верстка книги или портфолио.</div>
    <div class="why_description">Школа тесно сотрудничает более чем со 100 международными и российскими компаниями</div>
</div>