<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="page main-grid">
        <div class="nav">
            {% include "templates/top.twig" %}
        </div>
        <div class="main">
            <div class="region-header">

            </div>
            <div class="region-highlight">
                {% include "templates/main_text_block.twig" %}
            </div>
            <div class="region-content">
                {% include "templates/programs.twig" %}
                {% include "templates/more_programs.twig" %}
                {% set block_type = 'block--1 block--cap' %}
                {% include "templates/layouts/base_block.twig" %}
            </div>
            <div class="region-undercontent">
                {% include "templates/layouts/why_block.twig" %}
                {% include "templates/layouts/why_block.twig" %}
                {% include "templates/layouts/why_block.twig" %}
            </div>

        </div>
        <div class="footer_left">
            Софт Культура
        </div>
        <div class="footer">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur cupiditate illum ipsa quis. Autem doloremque eaque ipsam iusto nemo nisi numquam officia perspiciatis quaerat quo reiciendis reprehenderit, tenetur velit vitae?
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="js/main.js"></script>

</html>