.block {
  &__title {
  }
  &__body {
    font-size: 30px;
  }
  .dates-wrapper {
  }
}

.block--1 {
  border-bottom: $border;
  padding-left: 32px;
  padding-right: 32px;
  .block__inner {
    height: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
    background: $bg;
  }
}



/*
Banner
*/

.banner {
  background-color: #fff;
  opacity: 0.2;
  height: 450px;
}

