@import "variables";
@import "media-queries";
@import "normalize";
@import "html";

@import "page";
@import "top";
@import "regions";
@import "blocks";
@import "block_course";

@import "menu";

.underline {
  border-bottom: $border;
}

.text {
  &--big {
    font-size: 30px;
    @include mq($min-width: 641px){
      font-size: 45px;
    }
  }
}
